{% extends 'base.html' %}
{% block content %}
<section id="banner-section">
    <div id="banner-container" class="container-fluid p-0 m-0">
        <div id="banner-carousel" class="carousel slide" data-bs-ride="carousel">
            <div id="banner-inner-carousel" class="carousel-inner container-fluid p-0 m-0">
                <div id="carousel-image" class="carousel-item active container-fluid p-0 m-0">
                    <img class="w-100 p-0" src="..\static\images\car account banner.webp" alt="">
                </div>
                <div id="carousel-fade" class="carousel-caption m-0 container-fluid" style="left: 0%; top: 0; bottom: auto; background: linear-gradient(to top, rgba(255,255,255,0) 0%,rgb(0,0,0) 40%)"><br></div>
                <div id="carousel-caption" class="carousel-caption container-fluid p-0 m-0" style="left: 0%; top: 30%; bottom: 70%; background-color: rgba(0, 0, 0, 0.13);">
                    <div id="selection-container" class="container-fluid row p-0 ms-auto">
                        <div id="selection-body" class="container-fluid col-12 p-0 ms-auto">
                            {% if current_user.is_authenticated %}
                            <div id="selection-row" class="container-fluid row p-0 ms-auto">
                                <div id="section-col" class="container-fluid col-12 p-0 ms-auto">
                                    <form id="form" action="{{ url_for('site.profile') }}">
                                        <button type="submit" href="" class="align-content-center" style="border-radius: 5px; height: calc(4vw + 4vh + 4vmin); width: calc(8vw + 8vh + 80vmin); border-style: solid; border-color: gray; background-color: rgba(0, 0, 0, 0.507); border-width: 1px; color: rgb(199, 199, 199); font-size: calc(2vw + 2vh + 2vmin);">Profile</button>
                                    </form>
                                </div>
                            </div>
                            <br>
                            <div id="selection-row" class="container-fluid row p-0 ms-auto">
                                <div id="section-col" class="container-fluid col-12 p-0 ms-auto">
                                    <form id="form" action="{{ url_for('auth.signout') }}">
                                        <button type="submit" href="" class="align-content-center" style="border-radius: 5px; height: calc(4vw + 4vh + 4vmin); width: calc(8vw + 8vh + 80vmin); border-style: solid; border-color: gray; background-color: rgba(0, 0, 0, 0.507); border-width: 1px; color: rgb(199, 199, 199); font-size: calc(2vw + 2vh + 2vmin);">Sign Out</button>
                                    </form>
                                </div>
                            </div>
                            {% else %}
                            <div id="selection-row" class="container-fluid row p-0 ms-auto">
                                <div id="section-col" class="container-fluid col-12 p-0 ms-auto">
                                    <form id="form" action="{{ url_for('auth.signin') }}">
                                        <button type="submit" href="" class="align-content-center" style="border-radius: 5px; height: calc(4vw + 4vh + 4vmin); width: calc(8vw + 8vh + 80vmin); border-style: solid; border-color: gray; background-color: rgba(0, 0, 0, 0.507); border-width: 1px; color: rgb(199, 199, 199); font-size: calc(2vw + 2vh + 2vmin);">Sign In</button>
                                    </form>
                                </div>
                            </div>
                            <br>
                            <div id="selection-row" class="container-fluid row p-0 ms-auto">
                                <div id="section-col" class="container-fluid col-12 p-0 ms-auto">
                                    <form id="form" action="{{ url_for('auth.signup') }}">
                                        <button type="submit" href="" class="align-content-center" style="border-radius: 5px; height: calc(4vw + 4vh + 4vmin); width: calc(8vw + 8vh + 80vmin); border-style: solid; border-color: gray; background-color: rgba(0, 0, 0, 0.507); border-width: 1px; color: rgb(199, 199, 199); font-size: calc(2vw + 2vh + 2vmin);">Sign Up</button>
                                    </form>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div id="carousel-fade" class="carousel-caption m-0 container-fluid" style="left: 0%; top: auto; bottom: 0; background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgb(0,0,0) 40%)"><br></div>
            </div>
        </div>
    </div>
</section>
{% endblock %}